* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Cache-Control: max-age=604800
Age: 100

a{
    color:#000000;
    font-family: Roboto;
    font-weight: 500;
}

a:hover {
     color:#24215d;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    
}

p {
    font-size: 14px;
    line-height: 1.7;
    padding: 10px;
}

input {
    outline: none;
    border: none;
}
textarea {
    outline: none;
    border: none;
}

input::-webkit-input-placeholder {
    color: #999;
}

textarea::-webkit-input-placeholder {
    color: #999;
}


.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    z-index: 1;
}

.wrap-contact100 {
    width: 800px;
    background: #fff;
    overflow: hidden;
    padding: 72px 150px 25px;
}

.contact100-form-title {
    display: block;
    font-family: Montserrat;
    font-size: 30px;
    color: #333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 34px;
    font-weight: 700;
}
.wrap-input100 {
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
}
.input100 {
    display: block;
    width: 100%;
    background: 0 0;
    font-family: Roboto;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
}
input.input100 {
    height: 62px;
    padding: 0 20px 0 23px;
}
textarea.input100 {
    min-height: 199px;
    padding: 19px 20px 0 23px;
}
.focus-input100 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.container-contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 43px;
}
.contact100-form-btn {
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    background-color: #48458e;
    border-radius: 21px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    padding-top: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
     outline: none !important;
    border: none;
}
.contact100-form-btn:hover {
    background-color: #272470;
}
@media (max-width: 768px) {
    .wrap-contact100 {
        padding: 72px 50px 25px;
    }
}
@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 72px 15px 25px;
    }
}
.validate-input {
    position: relative;
}

@media (max-width: 576px) {
    .alert-validate::before {
        padding: 0 30px 0 10px;
    }
    .true-validate::after,
    .btn-hide-validate {
        right: 10px;
    }
}

:root {
    --bs-body-font-family: "Montserrat", "Roboto", sans-serif;
}

.btn-outline-danger {
    --bs-btn-color: var(--bs-black !important);
    --bs-btn-hover-bg: #FAD1FA;
    --bs-btn-hover-border-color: #FAD1FA;
    --bs-btn-border-color: #FAD1FA;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.btn-outline-danger:hover {
    color: #48458e;
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-black);
    --bs-btn-hover-bg: #48458e;
    --bs-btn-hover-border-color: #48458e;
    --bs-btn-border-color: #48458e;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #48458e;
}

.bg-dark {
    color: white;
}

.carousel {
    margin-bottom: 4rem;
}

.destacado1 {
    margin-bottom: 4rem;
}

.carousel-caption {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    font-weight: 300;
}

.carousel-item {
    height: 35rem;
}

.circulitos .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.circulitos h2 {
    font-family: "Roboto";
    font-weight: 500;
}
.circulitos .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}
.featurette-divider {
    margin: 3rem;
}
.featurette-heading,
.palabrasbarrita {
    font-weight: 700;
    font-family: Montserrat;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 30px;
    }
}
@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.svglogo {
    fill: #ffffff;
    stroke: #ffffff;
    stroke-miterlimit: 10;
}

.header .navbar {
    background-color: rgba(38, 36, 119, 0.17) !important;
}

.mora2 {
    background-color: #48458e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-container {
    justify-content: center;
    align-items: center;
    float: left;
    padding-top: 430px;
    padding-bottom: 430px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 80px;
}

.float-child {
    width: 40%;
    float: left;
    justify-content: center;
    align-items: center;
    margin:30px;
}
.contact-form-title {
    justify-content: center;
    font-family: Roboto;
    font-weight: 300;
}

.footer {
    color: #fff;
}


.cards {
    justify-content: center;
     align-items: stretch;
    text-align: center !important;
}


.btn-outline-info {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-bg: #CBD9FB;
    --bs-btn-hover-border-color: #CBD9FB;
    --bs-btn-border-color: #CBD9FB;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

}

.bg-danger {
     background-color: #f9b3f5 !important;
    color: #ffff;
    
}

.bg-info {
    background-color: #CBD9FB !important;
}

.bg-primary {
    background-color: #48458e !important;
}

.bg-dark {
    background-color: #060523 !important;
}
